:root {
  --koop-teal: #00af8c;
  --koop-teal-hover: #1bc6a3;
  --koop-teal-active: #008c70;

  --koop-orange: #fb9957;
  --koop-orange-hover: #ffae73;
  --koop-orange-active: #e2823f;

  --koop-lila: #9750a1;
  --koop-lila-hover: #ad65b8;
  --koop-lila-active: #7d3e87;

  --koop-blue: #5591dc;
  --koop-blue-hover: #71a6e6;
  --koop-blue-active: #3f76bf;
}

html {
  scroll-behavior: smooth;
}
